.new-tweet{
  display:flex;
  flex-direction: column;
  align-items:center
}

#alert{
width:80%
}


#error-message{
margin-top: 20px;
margin-bottom: 15px;
color: red;
border: 5px solid red;
width: 100%;
height:65px;
display: flex;
justify-content: center;
align-items: center;
animation: slide ease-in 0.5s;

}

@keyframes slide{
  0% {opacity:0;}
  100% {opacity:1;}
}

#error-message p {
  padding-left: 1vw;
  padding-right: 1vw;
}

#post-tweet{
width:100%;
display:flex;
flex-direction: column;
align-items:center

}

.new-tweet textarea{
  height:80px;
  width: 80%;
  border: 0;
  border-bottom: 5px solid grey;
  background-color: floralwhite;
  font-size:1.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  
}

.new-tweet #footer{
  display:flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 30px;
}

.new-tweet #footer button{
  height:40px;
  width:120px;
  border:0;
  color:white;
  background-color: #4056a1;
  font-family: "Bungee", sans-serif;
}

.new-tweet #footer output{
  font-family: "Bungee", sans-serif;
}